.sns-button-line {
    color: #ffffff;
    background: #1ec800;
}

.sns-button-facebook {
    color: #ffffff;
    background: #3b5998;
}

.sns-button-google {
    color: #ffffff;
    background: #db4a39;
}

.sns-button-github {
    color: #ffffff;
    background: #171515;
}

.resume-list-title {
    font-size: 1.2rem;
    color: #e65100;
}

.resume-list-title-primary {
    color: #01579b;
    font-weight: bold;
}