.page-heading {
    margin-top: 4% !important;
    margin-bottom: 6% !important;
}

.page-sub-heading {
    margin-top: 6%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    border-bottom: 1px solid #e0e0e0;
}


.col.s12 > .sns-button {
    width: 100%;
    height: 48px;
    padding-top: 5px;
    margin-bottom: 8%;
    font-size: 2.6rem;
}

.col.s12 > .btn-block {
    width: 100%;
    height: 48px;
    padding-top: 5px;
    margin-bottom: 8%;
}

.sns-button-line {
    background: #1ec800;
}

.sns-button-facebook {
    background: #3b5998;
}

.sns-button-google {
    background: #db4a39;
}

.sns-button-github {
    background: #171515;
}

/* medium tablet or large desktop */
@media only screen and (min-width: 993px) {
    .logo-icon {
        padding-top: 1px;
    }

    .page-heading {
        margin-top: 4% !important;
        margin-bottom: 2% !important;
        padding-bottom: 1%;
        border-bottom: 1px solid #e0e0e0;;
    }

    .page-sub-heading {
        margin-top: 6%;
        margin-bottom: 4%;
        padding-bottom: 1%;
        border-bottom: 1px solid #e0e0e0;
        width: 74%;
    }

    .col.s12 > .sns-button {
        padding-top: 0;
        font-size: 2rem;
        height: 38px;
    }

    .col.s12 > .btn-block {
        padding-top: 0;
        height: 36px;
    }
}

.resume-list-title {
    font-size: 1.2rem;
}