{% extends 'conf/base.html' %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="center page-heading">{{ page_title }}</h1>

        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l3 blue-text text-darken-4">
                {% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l3">
                <div class="divider"></div>
            </div>
        </div>

        <div class="row">
            <form class="col s12 m6 offset-m3 l6 offset-l3" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}

                <div class="row">
                    <div class="input-field col s12">
                        {{ form.login.errors }}
                        <input id="{{ form.login.id_for_label }}"
                               name="{{ form.login.name }}"
                               type="email"
                               {% if form.login.value != None %}value="{{ form.login.value|stringformat:'s' }}"{% endif %}
                               autofocus="autofocus"
                               {% if form.login.field.required %}required{% endif %}>
                        <label for="{{ form.login.id_for_label }}">
                            {{ form.login.label }} <span class="red-text">*</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.password.errors }}
                        <input id="{{ form.password.id_for_label }}"
                               name="{{ form.password.name }}"
                               type="password"
                               {% if form.password.value != None %}value="{{ form.password.value|stringformat:'s' }}"{% endif %}
                               {% if form.password.field.required %}required{% endif %}>
                        <label for="{{ form.password.id_for_label }}">
                            {{ form.password.label }} <span class="red-text">*</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <p class="col">
                        <label>
                            <input type="checkbox" name="{{ form.remember.name }}"/>
                            <span>{{ form.remember.label }}</span>
                        </label>
                    </p>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a class="btn waves-effect waves-light blue lighten-2"
                           href="{% url 'account_reset_password' %}">
                            {% trans 'Forgot Password?' %}
                        </a>
                        <button class="btn cyan waves-effect waves-light right" type="submit">
                            {% trans 'Sign In' %}
                            <i class="fas fa-sign-in-alt fa-sm fa-fw"></i>
                        </button>
                    </div>
                </div>

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
            </form>
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l3">
                <div class="divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l3">
                <div class="row">
                    <div class="col s12 m3 l3">
                        <a href=""
                           class="btn btn-block btn-large waves-effect waves-light"
                           style="background-color:#1ec800">
                            <i class="fab fa-line fa-4x"></i>
                        </a>
                    </div>
                    <div class="col s12 m3 l3">
                        <a href="{% provider_login_url 'facebook' process='login' scope=scope auth_params=auth_params %}"
                           class="btn btn-block btn-large waves-effect waves-light"
                           style="background-color:#3b5998">
                            <i class="fab fa-facebook-square fa-4x"></i>
                        </a>
                    </div>
                    <div class="col s12 m3 l3">
                        <a href=""
                           class="btn btn-block btn-large waves-effect waves-light"
                           style="background-color:#db4a39">
                            <i class="fab fa-google-plus-square fa-4x"></i>
                        </a>
                    </div>
                    <div class="col s12 m3 l3">
                        <a href=""
                           class="btn btn-block btn-large waves-effect waves-light"
                           style="background-color:#171515">
                            <i class="fab fa-github-square fa-4x"></i>
                        </a>
                    </div>
                    {% providers_media_js %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
