{% extends 'conf/base.html' %}

{% load i18n static %}
{% load account socialaccount %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <section class="hero mt-50">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">{{ page_title }}</h1>

                <div class="columns is-centered">
                    <div class="column is-two-fifths">
                        <div class="columns">
                            <div class="column">
                                <a href="{% provider_login_url 'line' process='login' scope=scope auth_params=auth_params %}"
                                   class="button is-large is-fullwidth sns-button-line">
                                    <i class="fab fa-line fa-2x"></i>
                                </a>
                            </div>
                            <div class="column">
                                <a href="{% provider_login_url 'facebook' process='login' scope=scope auth_params=auth_params %}"
                                   class="button is-large is-fullwidth sns-button-facebook">
                                    <i class="fab fa-facebook-square fa-2x"></i>
                                </a>
                            </div>
                            <div class="column">
                                <a href="{% provider_login_url 'google' process='login' scope=scope auth_params=auth_params %}"
                                   class="button is-large is-fullwidth sns-button-google">
                                    <i class="fab fa-google-plus-square fa-2x"></i>
                                </a>
                            </div>
                            <div class="column">
                                <a href="{% provider_login_url 'github' process='login' scope=scope auth_params=auth_params %}"
                                   class="button is-large is-fullwidth sns-button-github">
                                    <i class="fab fa-github-square fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% providers_media_js %}
    </section>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "member/css/sns.css" %}">
{% endblock %}