{% extends 'conf/base.html' %}

{% load i18n satic %}
{% load account %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="center page-heading">{{ page_title }}</h1>

        {% if user.is_authenticated %}
            <div class="row center-align">
                <div class="col s12 pink-text text-accent-4">
                    {% include 'member/account/snippets/already_logged_in.html' %}
                </div>
            </div>
        {% else %}
            <div class="row center-align">
                <p class="col s12">
                    {% trans 'We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.' %}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "member/css/member.css" %}">
{% endblock %}
