{% extends 'conf/base.html' %}

{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="center page-heading">
            {% if token_fail %}{% trans "Bad Token" %}{% else %}{{ page_title }}{% endif %}
        </h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <div class="row">
                <p class="col s12 m6 offset-m3 l6 offset-l3">
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                </p>
            </div>
        {% else %}
            <div class="row">
                {% if form %}
                    <form method="POST" action="{{ action_url }}" class="col s12 m6 offset-m3 l6 offset-l3">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="deep-orange-text mb-4">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.password1.errors }}
                                <input id="{{ form.password1.id_for_label }}"
                                       name="{{ form.password1.name }}"
                                       type="password"
                                       {% if form.password1.value != None %}value="{{ form.password1.value|stringformat:'s' }}"{% endif %}
                                       autofocus="autofocus"
                                       {% if form.password1.field.required %}required{% endif %}>
                                <label for="{{ form.password1.id_for_label }}">
                                    {{ form.password1.label }} <span class="red-text">*</span>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.password2.errors }}
                                <input id="{{ form.password2.id_for_label }}"
                                       name="{{ form.password2.name }}"
                                       type="password"
                                       {% if form.password2.value != None %}value="{{ form.password2.value|stringformat:'s' }}"{% endif %}
                                       {% if form.password2.field.required %}required{% endif %}>
                                <label for="{{ form.password2.id_for_label }}">
                                    {{ form.password2.label }} <span class="red-text">*</span>
                                </label>
                            </div>
                        </div>
                        <div class="row center-align">
                            <div class="input-field col s12">
                                <button type="submit" name="action" class="btn waves-effect waves-light blue lighten-2">
                                    {% trans 'change password' %}
                                </button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <p class="col s12 m6 offset-m3 l6 offset-l3">{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
