{% extends 'conf/base.html' %}

{% load i18n %}
{% load account %}

{% block title %}{% trans 'Password Reset' %}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="center mt-4 mb-4">{{ page_title }}</h1>

        {% if user.is_authenticated %}
            <div class="row center-align">
                <div class="col col12 m6 offset-m3 l6 offset-l3 pink-text text-accent-4">
                    {% include 'member/account/snippets/already_logged_in.html' %}
                </div>
            </div>
        {% else %}
            <div class="row">
                <p class="col col12 m6 offset-m3 l6 offset-l3">
                    {% trans 'We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.' %}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
