{% extends 'conf/base.html' %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="center page-heading">{{ page_title }}</h1>
        <div class="row">
            <form method="POST" action="{% url 'account_change_password' %}"
                  class="col s12 m6 offset-m3 l6 offset-l3">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="deep-orange-text mb-4">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="row">
                    <div class="input-field col s12">
                        {{ form.oldpassword.errors }}
                        <input id="{{ form.oldpassword.id_for_label }}"
                               name="{{ form.oldpassword.name }}"
                               type="password"
                               {% if form.oldpassword.value != None %}value="{{ form.oldpassword.value|stringformat:'s' }}"{% endif %}
                               autofocus="autofocus"
                               {% if form.oldpassword.field.required %}required{% endif %}>
                        <label for="{{ form.oldpassword.id_for_label }}">
                            {{ form.oldpassword.label }} <span class="red-text">*</span>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        {{ form.password1.errors }}
                        <input id="{{ form.password1.id_for_label }}"
                               name="{{ form.password1.name }}"
                               type="password"
                               {% if form.password1.value != None %}value="{{ form.password1.value|stringformat:'s' }}"{% endif %}
                               {% if form.password1.field.required %}required{% endif %}>
                        <label for="{{ form.password1.id_for_label }}">
                            {{ form.password1.label }} <span class="red-text">*</span>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        {{ form.password2.errors }}
                        <input id="{{ form.password2.id_for_label }}"
                               name="{{ form.password2.name }}"
                               type="password"
                               {% if form.password2.value != None %}value="{{ form.password2.value|stringformat:'s' }}"{% endif %}
                               {% if form.password2.field.required %}required{% endif %}>
                        <label for="{{ form.password2.id_for_label }}">
                            {{ form.password2.label }} <span class="red-text">*</span>
                        </label>
                    </div>
                </div>
                <div class="row center-align">
                    <div class="input-field col s12">
                        <button type="submit" name="action" class="btn waves-effect waves-light blue lighten-2">
                            {% trans 'change password' %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
