{% extends 'conf/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l3 mt-4">
                <ul class="collection">
                    <li class="collection-item{% if sidemenu == 'profile' %} active{% endif %}">
                        <a href="{% url 'account_profile' %}">
                            Profile
                        </a>
                    </li>
                    <li class="collection-item{% if sidemenu == 'resume' %} active{% endif %}">
                        <a href="{% url 'account_resume_list' %}">
                            Resume
                        </a>
                    </li>
                    <li class="collection-item{% if sidemenu == 'organizations' %} active{% endif %}">
                        <a href="#">
                            Organizations
                        </a>
                    </li>
                    <li class="collection-item{% if sidemenu == 'emails' %} active{% endif %}">
                        <a href="{% url 'account_email' %}">
                            Emails / SNS
                        </a>
                    </li>
                    <li class="collection-item{% if sidemenu == 'notifications' %} active{% endif %}">
                        <a href="#">
                            Notifications
                        </a>
                    </li>
                    <li class="collection-item{% if sidemenu == 'password' %} active{% endif %}">
                        <a href="{% url 'account_change_password' %}">
                            Change password
                        </a>
                    </li>
                    <li class="collection-item{% if sidemenu == 'billing' %} active{% endif %}">
                        <a href="#">
                            Billing
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col s12 m8 l9">
                <div class="row">
                    <div class="col s12">
                        {% block main_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}