{% extends 'member/account/profile_base.html' %}

{% load i18n static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    {% with sidemenu='resume' %}
        {{ block.super }}
    {% endwith %}
{% endblock content %}

{% block main_content %}
    <section>
        <div class="container">
            <h1 class="title">{{ page_title }}</h1>

            <div class="columns is-multiline">
                {% for resume in resumes %}
                    <div class="column is-four-fifths">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    {% if resume.primary %}
                                        <i class="fas fa-check fa-fw"></i>
                                    {% endif %}
                                    <a href="{% url 'account_resume_detail' resume.resume_uuid %}"
                                       class="resume-list-title{% if resume.primary %} resume-list-title-primary{% endif %}">
                                        {{ resume.title|truncatechars:30 }}
                                    </a>
                                </p>

                                <a href="#" class="card-header-icon">
                                    <span class="tag is-success">
                                        {{ resume.get_status_display }}
                                    </span>
                                </a>
                                <a href="#" class="card-header-icon">
                                    <span class="tag is-primary">
                                        {{ resume.get_language_display }}
                                    </span>
                                </a>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    {{ resume.description }}
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="make-primary-resume card-footer-item"
                                   data-resume-no="{{ resume.resume_uuid }}">
                                    <span class="button is-link">
                                        {% trans 'Make primary resume' %}
                                    </span>
                                </a>
                                <a href="#" class="delete-resume card-footer-item"
                                   data-resume-no="{{ resume.resume_uuid }}">
                                    <span class="button is-danger">
                                        {% trans 'Delete resume' %}
                                    </span>
                                </a>
                            </footer>
                        </div>
                    </div>
                {% endfor %}

                <div class="column is-four-fifths">
                    <p class="notification is-warning is-hidden error-message"></p>
                    <a id="new-resume" href="#" class="button is-link is-fullwidth">
                        <i class="fas fa-file-invoice fa-fw"></i>
                        {% trans 'New resume' %}
                    </a>
                </div>

                <div class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Modal title</p>
                            <button class="delete" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            <!-- Content ... -->
                        </section>
                        <footer class="modal-card-foot">
                            <button class="button is-success">Save changes</button>
                            <button class="button cancel">Cancel</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static "conf/js/csrf-cookie.js" %}"></script>
    <script type="text/javascript"
            src="{% static "member/js/resume.js" %}"></script>
{% endblock %}