{% extends 'member/account/profile_base.html' %}

{% load i18n static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    {% with sidemenu='resume' %}
        {{ block.super }}
    {% endwith %}
{% endblock content %}

{% block main_content %}
    <section>
        <div class="container">
            <h1 class="title">{{ page_title }}</h1>

            <div class="columns">
                <div class="column is-four-fifths">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                {% if resume.primary %}
                                    <i class="fas fa-check fa-fw"></i>
                                {% endif %}
                                {{ resume.title|truncatechars:30 }}
                            </p>

                            <a href="#" class="card-header-icon">
                                <span class="tag is-success">
                                    {{ resume.get_status_display }}
                                </span>
                            </a>
                            <a href="#" class="card-header-icon">
                                <span class="tag is-primary">
                                    {{ resume.get_language_display }}
                                </span>
                            </a>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                {{ resume.description }}
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">Make Primary</a>
                            <a href="#" class="card-footer-item">Delete</a>
                        </footer>
                    </div>
                </div>
            </div>

            <h2 class="title">{% trans 'Work experience' %}</h2>

            <h2 class="title">{% trans 'Education' %}</h2>

            <h2 class="title">{% trans 'Links' %}</h2>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static "conf/js/csrf-cookie.js" %}"></script>
    <script type="text/javascript"
            src="{% static "member/js/resume.js" %}"></script>
{% endblock %}