{% extends 'member/account/profile_base.html' %}

{% load i18n static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    {% with sidemenu='resume' %}
        {{ block.super }}
    {% endwith %}
{% endblock content %}

{% block main_content %}
    <h1 class="page-sub-heading">{{ page_title }}</h1>

    {% for resume in resumes %}
        <ul class="row">
            <li class="col s12 m9 l9">
                <div class="row mb-0">
                    <h4 class="col s12 mt-0">
                        {% if resume.primary %}
                            <i class="fas fa-check fa-fw"></i>
                        {% endif %}
                        <a href="{% url 'account_resume_detail' resume.resume_no %}"
                           class="resume-list-title{% if resume.primary %} resume-list-title-primary{% endif %}">
                            {{ resume.title|truncatechars:30 }}
                        </a>
                    </h4>
                    <div class="col s12">
                        <span class="btn btn-small grey lighten-2 grey-text text-darken-4 z-depth-0">
                            {{ resume.modified|date:'Y-m-d' }}
                        </span>
                        <span class="btn btn-small teal white-text z-depth-0">
                            {{ resume.get_status_display }}
                        </span>
                        <span class="btn btn-small green white-text z-depth-0">
                            {{ resume.get_language_display }}
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}

    <div class="row">
        <div class="col s12 m9 l9">
            <a href="#" class="btn btn-block waves-effect waves-light cyan">
                <i class="fas fa-file-invoice fa-fw"></i>
                {% trans 'New resume' %}
            </a>
        </div>
    </div>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "member/css/member.css" %}">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static "conf/js/csrf-cookie.js" %}"></script>
    <script type="text/javascript"
            src="{% static "member/js/resume.js" %}"></script>
{% endblock %}