{% extends 'conf/base.html' %}

{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="center page-heading">{{ page_title }}</h1>

        <div class="row center-align">
            <p class="col s12">
                {% trans 'We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.' %}
            </p>
            <p class="col s12">
                {% trans 'Please contact us if you do not receive it within a few minutes.' %}
            </p>
        </div>
    </div>
{% endblock %}
