body {
    font-family: Sarabun, Times, serif;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.top-left-menu {
    margin-left: 160px;
}

footer a:link, footer a:visited {
    text-decoration: none;
    color: #616161;
}

.page-heading {
    margin-top: 4% !important;
    margin-bottom: 4% !important;
}

form .row {
    margin-bottom: 1% !important;
}

.col.s12 > .btn-block {
    width: 100%;
    margin-bottom: 8% !important;
}