/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* icons */

/*
a > span[class="icon"] {
    padding-left: 15px;
    padding-right: 24px;
}

 */