{% extends 'conf/base.html' %}

{% block title %}HOME{% endblock %}

{% block content %}
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Challenge and achieve it!
                </h1>
                <h2 class="subtitle">
                    Coding Jump
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title">CODING JUMP</h1>
            <h2 class="subtitle">A modern responsive front-end framework based on Bulma</h2>
            <div class="columns">
                <div class="column">
                    <a href="https://bulma.io/" id="download-button"
                       class="button is-warning">Get Started</a>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-medium is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-multiline is-centered">
                    <div class="column is-4 has-text-centered">
                        <div class="icon">
                            <i class="fas fa-meteor fa-3x"></i>
                        </div>
                        <p class="title is-5">Multiple page layouts</p>
                        <p class="subtitle is-5">Including sidebar, menubar, tabs and callouts</p>
                    </div>
                    <div class="column is-4 has-text-centered">
                        <div class="icon">
                            <i class="fas fa-users fa-3x"></i>
                        </div>
                        <p class="title is-5">Blog included</p>
                        <p class="subtitle is-5">Layouts for blog and post pages included</p>
                    </div>

                    <div class="column is-4 has-text-centered">
                        <div class="icon">
                            <i class="fas fa-cog fa-3x"></i>
                        </div>
                        <p class="title is-5">Works with GitHub Pages</p>
                        <p class="subtitle is-5">Quick and easy to get started</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}