{% extends 'conf/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="hero is-warning">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Challenge and achieve it!
                </h1>
                <h2 class="subtitle">
                    Improve your programming skills. You may get more job opportunities.
                </h2>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Fundamentals
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Implementations
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Stack / Queue
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Searching
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Hash
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Sorting
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Mathematics
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Graph
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                DFS / BFS
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Binary Search
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Heap
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Dynamic Programming
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
                <div class="column is-2">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Greedy algorithms
                            </p>
                        </header>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">
                                <span class="button is-link">Challenge now!</span>
                            </a>
                        </footer>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}