{% extends 'conf/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="hero is-warning">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Challenge and achieve it!
                </h1>
                <h2 class="subtitle">
                    Improve your programming skills. You may get more job opportunities.
                </h2>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-half">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <a href="">Level 1</a>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    Strings, Sorting, Search, Hash
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-half">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <a href="">Level 2</a>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    Stack, Queue, Hash
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-half">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <a href="">Level 3</a>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    Graph, Mathematics
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-half">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <a href="">Level 4</a>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    Dynamic programming, Greedy, Brute Force
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-half">
                    <article class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <a href="">Level 5</a>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    Advanced topics
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}