{% extends 'conf/base.html' %}

{% load quest_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="hero is-warning">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Challenge and achieve it!
                </h1>
                <h2 class="subtitle">
                    Improve your programming skills. You may get more job opportunities.
                </h2>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% get_categories LANGUAGE_CODE as categories %}

                {% for category in categories %}
                    <div class="column is-3">
                        <article class="box">
                            <div>
                                <a href="">
                                    {{ category.title }}
                                </a>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}