{% extends 'conf/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="hero is-warning">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Challenge and achieve it!
                </h1>
                <h2 class="subtitle">
                    Improve your programming skills. You may get more job opportunities.
                </h2>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-full">
                    <article class="card">
                        <div class="card-content">
                            <div class="content">
                                <p class="title">
                                    Python backend developer
                                </p>
                                <p class="subtitle">
                                    PINCOIN
                                </p>
                                <p>
                                    1~3yrs / Seoul
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-full">
                    <article class="card">
                        <div class="card-content">
                            <div class="content">
                                <p class="title">
                                    Frontend developer
                                </p>
                                <p class="subtitle">
                                    PINCOIN
                                </p>
                                <p>
                                    1~3yrs / Seoul
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}