<!DOCTYPE html>
<html lang="th">
<head>
    {% load static %}
    {% load i18n %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GURU JUMP : {% block title %}{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet"
              href="{% static "conf/css/sarabun.css" %}">
        <link rel="stylesheet"
              href="{% static "conf/css/materialize.css" %}">
        <link rel="stylesheet"
              href="{% static "conf/css/base.css" %}">
        <link rel="stylesheet"
              href="//use.fontawesome.com/releases/v5.10.1/css/all.css"
              integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe"
              crossorigin="anonymous">
        <link rel="shortcut icon"
              href="{% static 'conf/images/favicon-16x16.png' %}">
        {{ form.media.css }}
    {% endblock %}
</head>
<body>
<header>
    <ul class="sidenav" id="mobile-demo">
        {% if not user.is_authenticated %}
            <li>
                <a href="#">
                    <i class="fas fa-sign-in-alt fa-sm fa-fw"></i>
                    {% trans 'Sign In' %}
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user-plus fa-sm fa-fw"></i>
                    {% trans 'Register' %}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="#">
                <i class="fas fa-info-circle fa-sm fa-fw"></i>
                {% trans 'Help' %}
            </a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <a href="#">
                    <i class="fas fa-user-cog fa-sm fa-fw"></i>
                    {% trans 'My Page' %}
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw"></i>
                    {% trans 'Sign Out' %}
                </a>
            </li>
        {% endif %}
        <li class="divider" tabindex="-1"></li>
        <li><a href="#">Archives</a></li>
        <li><a href="#">Contest</a></li>
        <li><a href="#">Stat</a></li>
        <li><a href="#">Ranking</a></li>
        <li><a href="#">Job</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper white">
                <div class="container">
                    <a href="{% url 'home' %}" class="brand-logo grey-text text-darken-4">GURU JUMP</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul class="top-left-menu hide-on-med-and-down">
                        <li><a href="#">Archives</a></li>
                        <li><a href="#">Contest</a></li>
                        <li><a href="#">Stat</a></li>
                        <li><a href="#">Ranking</a></li>
                        <li><a href="#">Job</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        {% if not user.is_authenticated %}
                            <li>
                                <a href="{% url 'account_login' %}">
                                    <i class="fas fa-sign-in-alt fa-sm fa-fw"></i>
                                    {% trans 'Sign In' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'account_signup' %}">
                                    <i class="fas fa-user-plus fa-sm fa-fw"></i>
                                    {% trans 'Register' %}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="#">
                                <i class="fas fa-info-circle fa-sm fa-fw"></i>
                                {% trans 'Help' %}
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="#">
                                    <i class="fas fa-user-cog fa-sm fa-fw"></i>
                                    {% trans 'My Page' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'account_logout' %}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw"></i>
                                    {% trans 'Sign Out' %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>{% block content %}{% endblock %}</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h3>Footer Content</h3>
                <p>You can use rows and columns here to organize your footer
                    content.</p>
            </div>
            <div class="col l3 s12">
                <h3>Links</h3>
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h3>Links</h3>
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row mb-0">
                <div class="col s12 m9 l10">
                    Copyright &copy; 2020 <a href="{% url 'home' %}">GURU JUMP</a>
                </div>
                <div class="col s12 m3 l2">
                    Developed by <a href="//www.pincoin.co.kr">PINCOIN</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
{% block javascript %}
    <script type="text/javascript"
            src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript"
            src="{% static "conf/js/base.js" %}"></script>
    {{ form.media.js }}
{% endblock %}
</html>