<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "conf/css/sarabun.css" %}">
    <link rel="stylesheet"
          href="{% static "conf/css/materialize.css" %}">
    <link rel="stylesheet"
          href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static "conf/css/base.css" %}">
</head>
<body>
<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">PINCOIN online judge</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Archives</a></li>
                <li><a href="#">Contest</a></li>
                <li><a href="#">Stat</a></li>
                <li><a href="#">Ranking</a></li>
                <li><a href="#">Job</a></li>
                <li><a href="#">Blog</a></li>
                <li>
                    <a class="dropdown-trigger" href="#" data-target="dropdown1">
                        Dropdown<i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="#">one</a></li>
                        <li><a href="#">two</a></li>
                        <li class="divider"></li>
                        <li><a href="#">three</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-trigger" href="#" data-target="dropdown2">
                        Dropdown<i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id="dropdown2" class="dropdown-content">
                        <li><a href="#">onex</a></li>
                        <li><a href="#">twox</a></li>
                        <li class="divider"></li>
                        <li><a href="#">threex</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <h1>Welcome to Modern Business</h1>
        <h2>Hello world</h2>
        <h3>H3 Hello world</h3>
        <h4>h4 hello world</h4>
        <h5>h5 hello world</h5>
        <h6>h6 hello world</h6>
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                    content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2020 Copyright PINCOIN
            <a class="grey-text text-lighten-4 right" href="//www.pincoin.co.kr">PINCOIN</a>
        </div>
    </div>
</footer>
</body>
<script type="text/javascript"
        src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript"
        src="{% static "conf/js/base.js" %}"></script>
</html>